<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qm.product.dao.ProductMapper">
    <!--<resultMap id="BaseResultMap" type="com.qm.product.domain.Product">-->
        <!--<result column="id" jdbcType="Long" property="id" />-->
        <!--<result column="create_time" jdbcType="VARCHAR" property="createTime" />-->
        <!--<result column="product_name" jdbcType="VARCHAR" property="productName" />-->
        <!--<result column="product_price" jdbcType="VARCHAR" property="productPrice" />-->
    <!--</resultMap>-->

    <!-- 根据二级商品类目id查询商品列表 -->
    <select id="selectById" resultType="com.qm.product.domain.T_MALL_PRODUCT">
        SELECT id,shp_mch,shp_tp,flbh1,flbh2,pp_id,chjshj,shp_msh FROM `t_mall_product` WHERE flbh2=#{flbh2};
    </select>

    <!-- 查询一级类目 -->
    <select id="getClassList" resultType="com.qm.product.domain.T_MALL_CLASS_1">
         select * from t_mall_class_1 ORDER BY id asc
    </select>
    <!--根据一级类目编号查询二级类目-->
    <select id="getClassList2" resultType="map" parameterType="int">
         SELECT flbh1,flmch2 from t_mall_class_2 where flbh1=#{flbh1}
    </select>
</mapper>