<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mallproject.generator.dao.TbAddressMapper">
  <resultMap id="BaseResultMap" type="com.mallproject.generator.domain.TbAddress">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="province_id" jdbcType="VARCHAR" property="provinceId" />
    <result column="city_id" jdbcType="VARCHAR" property="cityId" />
    <result column="town_id" jdbcType="VARCHAR" property="townId" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="contact" jdbcType="VARCHAR" property="contact" />
    <result column="is_default" jdbcType="VARCHAR" property="isDefault" />
    <result column="notes" jdbcType="VARCHAR" property="notes" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="alias" jdbcType="VARCHAR" property="alias" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_address
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mallproject.generator.domain.TbAddress">
    insert into tb_address (id, user_id, province_id, 
      city_id, town_id, mobile, 
      address, contact, is_default, 
      notes, create_date, `alias`
      )
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=VARCHAR}, #{provinceId,jdbcType=VARCHAR}, 
      #{cityId,jdbcType=VARCHAR}, #{townId,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{contact,jdbcType=VARCHAR}, #{isDefault,jdbcType=VARCHAR}, 
      #{notes,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{alias,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.mallproject.generator.domain.TbAddress">
    update tb_address
    set user_id = #{userId,jdbcType=VARCHAR},
      province_id = #{provinceId,jdbcType=VARCHAR},
      city_id = #{cityId,jdbcType=VARCHAR},
      town_id = #{townId,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      contact = #{contact,jdbcType=VARCHAR},
      is_default = #{isDefault,jdbcType=VARCHAR},
      notes = #{notes,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      `alias` = #{alias,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, user_id, province_id, city_id, town_id, mobile, address, contact, is_default, 
    notes, create_date, `alias`
    from tb_address
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, user_id, province_id, city_id, town_id, mobile, address, contact, is_default, 
    notes, create_date, `alias`
    from tb_address
  </select>
</mapper>