<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mallproject.generator.dao.TbOrderItemMapper">
  <resultMap id="BaseResultMap" type="com.mallproject.generator.domain.TbOrderItem">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="item_id" jdbcType="BIGINT" property="itemId" />
    <result column="goods_id" jdbcType="BIGINT" property="goodsId" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="total_fee" jdbcType="DECIMAL" property="totalFee" />
    <result column="pic_path" jdbcType="VARCHAR" property="picPath" />
    <result column="seller_id" jdbcType="VARCHAR" property="sellerId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_order_item
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mallproject.generator.domain.TbOrderItem">
    insert into tb_order_item (id, item_id, goods_id, 
      order_id, title, price, 
      num, total_fee, pic_path, 
      seller_id)
    values (#{id,jdbcType=BIGINT}, #{itemId,jdbcType=BIGINT}, #{goodsId,jdbcType=BIGINT}, 
      #{orderId,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, 
      #{num,jdbcType=INTEGER}, #{totalFee,jdbcType=DECIMAL}, #{picPath,jdbcType=VARCHAR}, 
      #{sellerId,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.mallproject.generator.domain.TbOrderItem">
    update tb_order_item
    set item_id = #{itemId,jdbcType=BIGINT},
      goods_id = #{goodsId,jdbcType=BIGINT},
      order_id = #{orderId,jdbcType=BIGINT},
      title = #{title,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      num = #{num,jdbcType=INTEGER},
      total_fee = #{totalFee,jdbcType=DECIMAL},
      pic_path = #{picPath,jdbcType=VARCHAR},
      seller_id = #{sellerId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, item_id, goods_id, order_id, title, price, num, total_fee, pic_path, seller_id
    from tb_order_item
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, item_id, goods_id, order_id, title, price, num, total_fee, pic_path, seller_id
    from tb_order_item
  </select>
</mapper>