<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mallproject.generator.dao.TbSeckillOrderMapper">
  <resultMap id="BaseResultMap" type="com.mallproject.generator.domain.TbSeckillOrder">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="seckill_id" jdbcType="BIGINT" property="seckillId" />
    <result column="money" jdbcType="DECIMAL" property="money" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="seller_id" jdbcType="VARCHAR" property="sellerId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="receiver_address" jdbcType="VARCHAR" property="receiverAddress" />
    <result column="receiver_mobile" jdbcType="VARCHAR" property="receiverMobile" />
    <result column="receiver" jdbcType="VARCHAR" property="receiver" />
    <result column="transaction_id" jdbcType="VARCHAR" property="transactionId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_seckill_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mallproject.generator.domain.TbSeckillOrder">
    insert into tb_seckill_order (id, seckill_id, money, 
      user_id, seller_id, create_time, 
      pay_time, `status`, receiver_address, 
      receiver_mobile, receiver, transaction_id
      )
    values (#{id,jdbcType=BIGINT}, #{seckillId,jdbcType=BIGINT}, #{money,jdbcType=DECIMAL}, 
      #{userId,jdbcType=VARCHAR}, #{sellerId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{payTime,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR}, #{receiverAddress,jdbcType=VARCHAR}, 
      #{receiverMobile,jdbcType=VARCHAR}, #{receiver,jdbcType=VARCHAR}, #{transactionId,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.mallproject.generator.domain.TbSeckillOrder">
    update tb_seckill_order
    set seckill_id = #{seckillId,jdbcType=BIGINT},
      money = #{money,jdbcType=DECIMAL},
      user_id = #{userId,jdbcType=VARCHAR},
      seller_id = #{sellerId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      pay_time = #{payTime,jdbcType=TIMESTAMP},
      `status` = #{status,jdbcType=VARCHAR},
      receiver_address = #{receiverAddress,jdbcType=VARCHAR},
      receiver_mobile = #{receiverMobile,jdbcType=VARCHAR},
      receiver = #{receiver,jdbcType=VARCHAR},
      transaction_id = #{transactionId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, seckill_id, money, user_id, seller_id, create_time, pay_time, `status`, 
    receiver_address, receiver_mobile, receiver, transaction_id
    from tb_seckill_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, seckill_id, money, user_id, seller_id, create_time, pay_time, `status`, 
    receiver_address, receiver_mobile, receiver, transaction_id
    from tb_seckill_order
  </select>
</mapper>